
Social Hippo.xcodeproj/project.xcworkspace/xcuserdata/Jimster.xcuserdatad/UserInterfaceState.xcuserstate

Social Hippo.xcodeproj/xcuserdata/Jimster.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

Social Hippo.xcworkspace/xcuserdata/Jimster.xcuserdatad/UserInterfaceState.xcuserstate

*.xcbkptlist

Social Hippo/keys.plist
